{% extends "home/home.html" %}
{% import "home/pagination/home_page.html" as pg %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='home/css/user.css') }}/">
    <style>
        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            background-color: brown;
            border: none;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #ccc;
            border-color: #f5f5f5;
        }
    </style>
{% endblock %}
{% block content %}
    {% include "home/menu.html" %}
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;收藏电影</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left">
                            <a href="">
                                <img class="media-object" style="width:131px;height:83px;" src="" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="" class="label label-primary pull-right">
                                    <span class="glyphicon glyphicon-play"></span>播放影片
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center" style="margin-top:6px;">
                    {{ pg.page(page_data,'home.moviecol_list') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#m-5").addClass("active");
        });
    </script>
{% endblock %}