{% extends "home/home.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='home/css/user.css')}}/">
{% endblock %}
{% block content %}
{% include "home/menu.html" %}
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
        </div>
        <div class="panel-body">
            {% for msg in get_flashed_messages(category_filter=["err"]) %}
            <p style="color:red">{{msg}}</p>
            {% endfor %}
            {% for msg in get_flashed_messages(category_filter=["ok"]) %}
            <p style="color:green">{{msg}}</p>
            {% endfor %}
            <form role="form" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="input_oldpwd">
                            <span class="glyphicon glyphicon-lock"></span>{{form.old_pwd.label}}
                        </label>
                        {{form.old_pwd}}
                    </div>
                    {% for err in form.old_pwd.errors %}
                    <div class="col-md-12">
                        <font style="color:red">{{ err }}</font>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="input_newpwd">
                            <span class="glyphicon glyphicon-lock"></span>{{form.new_pwd.label}}
                        </label>
                        {{form.new_pwd}}
                    </div>
                    {% for err in form.new_pwd.errors %}
                    <div class="col-md-12">
                        <font style="color:red">{{ err }}</font>
                    </div>
                    {% endfor %}
                    {{form.csrf_token}}
                    {{form.submit}}
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $("#m-2").addClass("active");
    });


</script>
{% endblock %}