{% extends "home/home.html" %}
{% block content %}
<div class="row" style="margin-top: 8px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;用户注册</h3>
            </div>
            <div class="panel-body">
                {% for msg in get_flashed_messages(category_filter=["err"]) %}
                <p style="color:red;font-weight: bold">{{msg}}</p>
                {% endfor %}
                {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                <p style="color:green;font-weight: bold">{{msg}}</p>
                {% endfor %}
                <form role="form" method="post" novalidate>
                    <fieldset>
                        {% for msg in get_flashed_messages(category_filter=['err']) %}
                        <p style="color: red;font-weight: bold">{{ msg }}</p>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_name"><span
                                    class="glyphicon glyphicon-user"></span>{{form.name.label}}</label>
                            {{form.name}}
                            {% for err in form.name.errors %}
                            <p style="color: red;font-weight: bold">{{ err }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_email"><span class="glyphicon glyphicon-envelope"></span>{{form.email.label}}</label>
                            {{form.email}}
                            {% for err in form.email.errors %}
                            <p style="color: red;font-weight: bold">{{ err }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_phone"><span class="glyphicon glyphicon-phone"></span>{{form.phone.label}}</label>
                            {{form.phone}}
                            {% for err in form.phone.errors %}
                            <p style="color: red;font-weight: bold">{{ err }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_password"><span class="glyphicon glyphicon-lock"></span>
                                {{form.pwd.label}}</label>
                            {{form.pwd}}
                            {% for err in form.pwd.errors %}
                            <p style="color: red;font-weight: bold">{{ err }}</p>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="input_repassword"><span
                                    class="glyphicon glyphicon-lock"></span>{{form.repwd.label}}</label>
                            {{form.repwd}}
                            {% for err in form.repwd.errors %}
                            <p style="color: red;font-weight: bold">{{ err }}</p>
                            {% endfor %}
                        </div>

                        <div class="col-md-12">
                            {{form.csrf_token}}
                            {{form.submit}}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}