{% extends "home/home.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='home/css/user.css') }}/">
    <style>
        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            background-color: brown;
            border: none;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #ccc;
            border-color: #f5f5f5;
        }
    </style>
{% endblock %}
{% block content %}
    {% include "home/menu.html" %}
    <div class="col-md-9 wow animate__animated animate__" data-wow-delay="0s">
        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>{{ msg }}</strong>
            </div>
        {% endfor %}
        {% for msg in get_flashed_messages(category_filter=["err"]) %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>{{ msg }}</strong>
            </div>
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员信息</h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post" enctype="multipart/form-data" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label for="input_name"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;{{ form.name.label }}</label>
                            <!--<input id="input_name" class="form-control" placeholder="昵称" name="name" type="text" autofocus-->
                            <!--value="jinlong">-->
                            {{ form.name }}
                            {% for err in form.name.errors %}
                                <p style="color:red">{{ err }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;{{ form.nickname.label }}</label>
                            <!--<input id="input_name" class="form-control" placeholder="昵称" name="name" type="text" autofocus-->
                            <!--value="jinlong">-->
                            {{ form.nickname }}
                            {% for err in form.nickname.errors %}
                                <p style="color:red;font-weight: bold">{{ err }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_email"><span
                                    class="glyphicon glyphicon-envelope"></span>&nbsp;{{ form.email.label }}</label>
                            <!--<input id="input_email" class="form-control" placeholder="邮箱" name="email" type="email"-->
                            <!--autofocus value="1780316635@qq.com">-->
                            {{ form.email }}
                            {% for err in form.email.errors %}
                                <p style="color:red">{{ err }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_phone">
                                <span class="glyphicon glyphicon-phone"></span>
                                {{ form.phone.label }}
                            </label>
                            <!--<input id="input_phone" class="form-control" placeholder="手机" name="phone" type="text" autofocus-->
                            <!--value="13700632835">-->
                            {{ form.phone }}
                            {% for err in form.phone.errors %}
                                <p style="color:red">{{ err }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_face"><span
                                    class="glyphicon glyphicon-picture"></span>{{ form.face.label }}</label>
                            {{ form.face }}
                            <br>
                            {% for err in form.face.errors %}
                                <p style="color:red;font-weight: bold">{{ err }}</p>
                            {% endfor %}
                            {% if user.face %}
                                <img src="{{ url_for('static',filename='home/uploads/users/'+user.face) }}"
                                     class="img-responsive img-rounded" width="100px">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="input_info">
                                <span class="glyphicon glyphicon-edit"></span>
                                {{ form.info.label }}
                            </label>
                            <!--<textarea class="form-control" rows="10" id="input_info">十年窗下无人问，一举成名天下知</textarea>-->
                            {{ form.info }}
                            {% for err in form.info.errors %}
                                <p style="color:red;font-weight: bold">{{ err }}</p>
                            {% endfor %}
                        </div>
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#m-1").addClass("active");
        });


    </script>
{% endblock %}
