<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>D5影视网后台管理</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="{{ url_for('static',filename='public/imgs/logo.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .panel-primary {
            border-color: #3c8dbc;
        }

        .panel-primary > .panel-heading {
            color: #fff;
            background-color: #3c8dbc;
            border-color: white;
        }

        .btn-primary {
            color: #fff;
            background-color: #3c8dbc;
            border-color: white;
        }
    </style>
</head>
<body class="hold-transition login-page">
<div class="container">
    <div class="row" style="margin-top: 10%">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">D5影视网后台管理员登录</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post">
                        <fieldset>
                            {% for msg in get_flashed_messages(category_filter=["err"]) %}
                                <p style="color:red;font-weight: bold">{{ msg }}</p>
                            {% endfor %}
                            {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                                <p style="color:green">{{ msg }}</p>
                            {% endfor %}
                            <div class="form-group">
                                <label for="input_contact"><span
                                        class="glyphicon glyphicon-user"></span>{{ form.name.label }}</label>
                                {{ form.name }}
                            </div>
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            <div class="form-group">
                                <label for="input_password"><span
                                        class="glyphicon glyphicon-lock"></span>{{ form.pwd.label }}</label>
                                {{ form.pwd }}
                            </div>
                            <div class="col-md-12">
                                {{ form.csrf_token }}
                                {{ form.submit }}
                                <font style="color:red">{{ err }}</font>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
